@charset "UTF-8";
html{
    font-size: 100%;
}

body{
    background-color: #fffeee;
}

h1 {
    color: #0bd; font-size: 3rem; font-family: sans-serif; font-weight: bold;
}

h2 {
    font-size: 30px; font-family:serif;
}

p{
    font-size: 20px; font-family: UD デジタル 教科書体 NK, serif;
}

div p{
    color: red;
}