@charset "UTF-8";
html{
    font-size: 100%;
}

body{
    background-color: #f5f2e5;
    background-image: url(../images/bg.png);
    background-repeat: repeat-y;
}

h1 {
    color: rgb(103, 26, 122); font-size: 3rem; font-family: sans-serif; font-weight: bold;
}

h2 {
    font-size: 30px;font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 800; font-style: normal; color: rgba(114, 114, 218, 0.603);

}

p{
    
    line-height: 1.7; text-align: justify;
    color: rgba(12, 21, 59, 0.747);
}

.blue{
    color: blue;
}

/* div{
    border-bottom:2px dotted rgb(176, 190, 97);
} */
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-rows: 200px 200px;
}
.item{
    background: #0bd;
    color: #fff;

    padding: 10px;
}



ul{
    list-style-type: square;
}

ol{
    list-style-type:upper-roman;
}
/* div{
    background: rgb(226, 226, 192);
    margin: 10px 20px 20px;
    padding: 20px;
} */

/* div{
    background-image: url(../images/bg-airplane.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
} */