@charset "UTF-8";
html{
    font-size: 100%;
}

body{
    background-color: #f5f2e5;
    background-image: url(../images/bg.png);
    background-repeat: repeat-y;
}

h1 {
    color: rgb(103, 26, 122); font-size: 3rem; font-family: sans-serif; font-weight: bold;
}

h2 {
    font-size: 30px;font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 800; font-style: normal; color: rgba(114, 114, 218, 0.603);
}

p{
    font-size: 20px;
    line-height: 1.7; text-align: justify;
    color: rgba(12, 21, 59, 0.747);
}

div p{
    color: redï¼›
}

div{
    background-image: url(../images/bg-airplane.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}